absl-py 
alabaster 
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
asgiref==3.3.4
asn1crypto 
astor==0.8.1
astroid 
astropy 
astunparse==1.6.3
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
blinker==1.4
bokeh
dj-database-url==0.5.0
Django==3.2.3
django-heroku==0.3.1
django-mathfilters==1.0.0
djangorestframework==3.12.4
html5lib 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal==1.4.1
jedi 
Jinja2 
joblib 
json5==0.9.5
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-packaging 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
Keras 
Keras-Applications 
Keras-Preprocessing 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
llvmlite==0.36.0
locket==0.2.1
lxml 
Markdown 
MarkupSafe==1.1.1
matplotlib 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
pandas 
pandocfilters 
paramiko 
parso==0.7.0
Pillow 
pytest==6.2.3
regex 
requests 
requests-oauthlib==1.3.0
scikit-image==0.18.1
scikit-learn 
scipy 